#header {
    text-align: center;
    width:100vw;
}

html {
    width: 100vw;
    height: 100vh;
}

#debug {
    margin: 0px;
    padding: 0px;
    position:absolute;
    bottom:0px;
    right:0px;
}

#start-btn {
    width:25vw;
    height:10vw;
    font-size: 100%;
    text-align: center;
}

absolute {
    position:absolute;
    top:0px;
    bottom:0px;
}

.vc {
    display:table-row;
    height: 100vh;
    width: 100vw;
}

.vc > td {
    width: 100vw;
    height: 100vh;
    display:table-cell;
    text-align: center;
    vertical-align: middle;
}

#failedFiles {
    display:none;
    position: absolute;
    bottom:0;
    left:0;
}